demoAuth {
   technology.steinhauer.demo.jee.server.login.JAASLoginModule required
   dbDriver="com.mysql.jdbc.Driver"
   dbURL="jdbc:mysql://localhost/jeedemoauth"
   dbUser="jeedemoauth"
   dbPassword="jeedemoauth"
   userQuery="select username from demoauth_user where demoauth_user.username=? and demoauth_user.password=?"
   roleQuery="select demoauth_user_role.rolename from demoauth_user, demoauth_user_role "
             + "where demoauth_user.username=demoauth_user_role.username and demoauth_user.username=?"
   debug=true;
};